<style>
  .likeus {
    transition: all 0.5s ease 0s;
  }
  .likeus:hover {
    color: #039be5 !important;
    border-color: #076390 !important;
    background-color: #F1F0D5;
  }
</style>
<footer class="page-footer  grey lighten-2">
  <div class="container">
    <div class="row center">
      <a class="grey-text text-darken-3 likeus" style="font-size:14px; padding:10px;border:1px solid;border-radius:25px;" target="_blank" href="https://www.facebook.com/dtumart">
      <span><i class="fa fa-facebook-official" style="font-size:16px;padding-right:8px;"></i></span>
      Like DTU Mart</a>
  </div>
</footer>