<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Buy, Sell and Exchange books from fellow DTU-ites">
    <meta name="keywords" content="DTU Mart, College, Books, buy, sell, Delhi Technological University, DTU, DCE, ads" />
    <meta name="author" content="">


    <meta property="og:url"           content="http://dtumart.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:site_name"     content="DTU Mart"/>
    <meta property="og:title"         content="DTU Mart" />
    <meta property="og:description"   content="Buy, Sell and Exchange books from fellow DTU-ites" />
    <meta property="og:image"         content="http://dtumart.com/static/share.png" />
    <meta property="fb:app_id"        content="1648788025396019" />
    <meta property="og:locale"        content="en_US" />

    <title>Login - DTU Mart</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    
    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'app/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64358360-3', 'auto');
      ga('send', 'pageview');

    </script>

    <style>
         body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }

        .items {
          flex: 1 0 auto;
        }
        .mdi-navigation-menu {
            position: absolute;
            top: 12px;
            font-size: 28px;
            color: white;
        }


        @media only screen and (max-width : 992px) {
          header, main, footer {
            padding-left: 0;
          }
        }

        @media only screen and (max-width: 398px) {
            .banner {
                width: 300px;
            }
        }


    </style>
</head>
<body>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- materialize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <header>
        {% include 'ads/nav.html' %}

    </header>
    <div class="container items">


        <div class="row section center">
            {% if unauth %}
            <script>
                Materialize.toast('You must be logged in to post an Ad', 4000);
            </script>
            {% endif %}
            <img class="banner" src="{% static 'app/dm_banner_400.png' %}" />

            <div class="center">
                <a href="/accounts/facebook/login"><button type="button" id="loginfb" class="showloader blue darken-2 btn btn-large"><i class="fa fa-facebook-official" style="font-size:18px;padding-right:5px;"></i>Login with Facebook</button></a>
                <p id="wait" style="display:none;">Please wait...</p>
            </div>
            <div class="center">
                <div class="center section loader" style="display:none;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


    {% include 'ads/footer.html' %}
</body>


<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
    });
</script>

<script type="text/javascript">
    $('.showloader').click(function() {
        $('.loader').css('display','block');
    })
</script>




</html>
